.Rproj.user/
.Rproj.user/*
.Rhistory
.RData
.Ruserdata
.Rprofile
HealthMarkers.Rproj
.vscode/
doc/
/doc/
.DS_Store
.Rcheck/
*.Rcheck/
HealthMarkers.Rcheck/
vign_test/
*.tar.gz
/inst/doc/
.Rbuildignore
/Meta/
/vignettes/libs/
