.Rproj.user
.Rhistory
.RData
.Ruserdata
HealthMarkers.Rproj
.vscode/
doc/
.DS_Store
.Rcheck/
*.tar.gz
/inst/doc/
.Rbuildignore
.Rhistory
.RData
.Ruserdata
.Rproj.user
.Rproj.user/
.Rproj.user/*
/doc/
/Meta/
